<!--
  Generated template for the Tabinfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <div class="divInfo" [ngClass]="{'md-divInfo': md, 'ios-divInfo': ios}">
        <img id="imageEmpresa" *ngIf="empresa.imagem" [src]="empresa.imagem">
        <ion-grid>
            <ion-row>
                <ion-col *ngIf="empresa.email">
                    <a ion-button id="email" href="mailto:{{empresa.email}}">
                        <ion-icon ios="md-mail" md="md-mail"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.site">
                    <a ion-button id="site" (click)="launchSite(empresa.site)">
                        <ion-icon ios="ios-link" md="ios-link"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.telefone">
                    <a ion-button id="telefone" href="tel:{{empresa.telefone}}">
                        <ion-icon ios="md-call" md="md-call"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.whatsapp">
                    <a ion-button id="whatsapp" href="tel:{{empresa.whatsapp}}">
                        <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.facebook">
                    <a ion-button id="facebook" href="https://www.facebook.com/{{empresa.facebook}}">
                        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.instagram">
                    <a ion-button id="instagram" href="https://www.instagram.com/{{empresa.instagram}}">
                        <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.linkedin">
                    <a ion-button id="linkedin" href="https://www.linkedin.com/{{empresa.linkedin}}">
                        <ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.twitter">
                    <a ion-button id="twitter" href="https://twitter.com/{{empresa.twitter}}">
                        <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
                    </a>
                </ion-col>
                <ion-col *ngIf="empresa.gplus">
                    <a ion-button id="gplus" href="https://plus.google.com/{{empresa.gplus}}">
                        <ion-icon ios="logo-googleplus" md="logo-googleplus"></ion-icon>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>
        <button ion-button outline *ngIf="empresa.maps" (click)="launch()">
            <ion-icon class="iconMaps" ios="md-map" md="md-map" item-left></ion-icon>
            Como chegar
        </button>
    </div>


    <ion-list>
        <ion-item-group>
            <ion-item-divider class="informacaoHeader" *ngIf="empresa.horario">
                <ion-icon class="iconInfo" ios="md-time" md="md-time" item-left></ion-icon>
                <h4> Horário</h4>
            </ion-item-divider>
            <ion-item class="informacao" *ngIf="empresa.horario">
                <pre class="informacaoTxt">{{empresa.horario}}</pre>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider class="informacaoHeader" *ngIf="empresa.descricao">
                <ion-icon class="iconInfo" ios="ios-paper-outline" md="ios-paper-outline" item-left></ion-icon>
                <h4> Quem somos</h4>
            </ion-item-divider>
            <ion-item class="informacao" *ngIf="empresa.descricao">
                <pre class="informacaoTxt">{{empresa.descricao}}</pre>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>