page-tabinfo {
    //Desabilitar Soft Back Button no Android
    //.bar-button-md.back-button-md {
    //    display: none;
    //}
    .itemFlutuante {
        transition: all 0.1s linear;
    }
    /*DESCRIÇÃO DA EMPRESA*/
    .divInfo {
        text-align: center;
        white-space: normal;
    }
    /*IMAGEM DA EMPRESA*/
    #imageEmpresa {
        margin: 1% 1%;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 5px 5px 2px #888888;
        padding: 5px;
        width: 100%;
        height: auto;
    }
    .divInfo .grid {
        padding: 5px 0 5px 5px;
    }
    .divInfo .col {
        padding: 5px 0;
    }
    //buton maps ios
    .iconMaps.icon.icon-ios.ion-md-map {
        margin-right: 5px;
    }
    .button-outline-ios {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    //buton maps ios
    .iconMaps.icon.icon-md.ion-md-map {
        margin-right: 5px;
    }
    .button-outline-md {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    #email.button-ios,
    #site.button-ios,
    #telefone.button-ios,
    #whatsapp.button-ios,
    #facebook.button-ios,
    #instagram.button-ios,
    #linkedin.button-ios,
    #twitter.button-ios,
    #gplus.button-ios {
        margin: 0;
        padding: 0;
        height: 2.8em;
        background-color: inherit;
    }
    #email.button-md,
    #site.button-md,
    #telefone.button-md,
    #whatsapp.button-md,
    #facebook.button-md,
    #instagram.button-md,
    #linkedin.button-md,
    #twitter.button-md,
    #gplus.button-md {
        overflow: hidden;
        margin: 0rem 0rem;
        padding: 0 0.1em;
        height: 3.6rem;
        border-radius: 2px;
        font-weight: 500;
        text-transform: none;
        background-color: inherit;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    col #email ion-icon,
    col #site ion-icon,
    col #telefone ion-icon,
    col #whatsapp ion-icon,
    col #facebook ion-icon,
    col #instagram ion-icon,
    col #linkedin ion-icon,
    col #twitter ion-icon,
    col #gplus {
        padding: 0
    }
    #email ion-icon,
    #site ion-icon,
    #telefone ion-icon,
    #whatsapp ion-icon,
    #facebook ion-icon,
    #instagram ion-icon,
    #linkedin ion-icon,
    #twitter ion-icon,
    #gplus ion-icon {
        font-size: 6vw;
    }
    #email {
        color: slategrey;
    }
    #site {
        color: cadetblue;
    }
    #telefone {
        color: #33b5e5;
    }
    #whatsapp {
        color: #34af23;
    }
    #facebook {
        color: #3b5998;
    }
    #instagram {
        color: transparent;
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
        -webkit-background-clip: text;
        background-clip: text;
    }
    #instagram:before {
        color: transparent;
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
        -webkit-background-clip: text;
        background-clip: text;
    }
    #linkedin {
        color: #007bb6;
    }
    #twitter {
        color: #00aced;
    }
    #gplus {
        color: #dd4b39;
    }
    .informacaoTxt {
        margin: 0 0 0 32px;
        background-color: inherit;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 2.5vh;
        overflow: hidden;
        border: none;
        white-space: pre-line;
        word-break: inherit;
        text-align: justify;
    }
    .item>.iconInfo {
        font-size: 3vh;
        color: #2c3496;
    }
    .informacaoHeader {
        color: #2c3496;
    }
    .item>ion-icon,
    .item-inner>ion-icon {
        min-height: unset;
    }
    h4 {
        display: initial;
    }
    //android
    .list-md>.item-block:last-child .item-inner {
        border-bottom: 1px solid #dedede;
    }
    .item-divider-md {
        border-bottom: none;
    }
    .item-md ion-icon[item-left],
    .item-md ion-icon[item-right] {
        margin-top: 12px;
        margin-bottom: 3px;
        margin-left: 0;
    }
    .item-md ion-icon[item-left]+.item-inner,
    .item-md ion-icon[item-left]+.item-input {
        margin-left: inherit;
        border-bottom: 1px solid #dedede;
    }
    .label-md {
        margin: 10px 8px 0 0;
    }
    .list-md .informacao.item-block .item-inner {
        border-bottom: none;
    }
    ion-item-group {
        margin-bottom: 3vh;
    }
    ion-item-group .item-md:last-child .item-inner,
    ion-item-group .item-md .item-wrapper:last-child .item-inner {
        border-bottom: 1px solid #dedede;
    }
    ion-item-group #gmaps.item-md:last-child .item-inner,
    ion-item-group #gmaps.item-md .item-wrapper:last-child .item-inner {
        border: none;
    }
    .divInfo.md-divInfo {
        margin-top: 10vh;
    }
    .item-md h4 {
        font-size: 3vh;
    }
    .button-inner {
        font-size: 2.5vh;
    }
    //ios
    .item-ios ion-icon[item-left],
    .item-ios ion-icon[item-right] {
        margin-top: 10px;
        margin-bottom: 3px;
        margin-left: 0;
    }
    .item-ios [item-left] {
        margin: 0 8px 0 0;
    }
    ion-item-group .item-ios:first-child .item-inner {
        border-bottom: 1px solid #dedede;
    }
    ion-item-group .item-ios:last-child .item-inner,
    ion-item-group .item-wrapper:last-child .item-ios .item-inner {
        border-bottom: 1px solid #dedede;
    }
    ion-item-group #gmaps.item-ios:last-child .item-inner,
    ion-item-group .item-wrapper:last-child .item-ios .item-inner {
        border-bottom: none;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list-ios>.item-block:last-child .item-inner,
    .list-ios>.item-wrapper:last-child .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
    .label-ios {
        margin: 10px 8px 0 0;
    }
    .list-ios .informacao.item-block .item-inner {
        border-bottom: none;
    }
    .item-ios[detail-push] .item-inner,
    button.item-ios:not([detail-none]) .item-inner,
    a.item-ios:not([detail-none]) .item-inner {
        background-image: none;
        padding-right: 0;
    }
    .divInfo.ios-divInfo {
        margin-top: 6vh;
    }
    .item-ios h4 {
        font-size: 3vh;
    }
}