<!--
  Generated template for the Contato page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <pre class="preDefault">Se você estiver passando uns dias em Vila Velha e quiser também curtir um pouco da noite capixaba, você deve ir ao Triângulo. O “Triângulo de Vila Velha” nada mais é que um quarteirão onde se concentram os melhores bares, restaurantes e casas noturnas da cidade. O reduto boêmio fica próximo à Praia de Itaparica e é muito famoso entre os amantes da vida noturna.</pre>
    <button ion-button outline href="mailto:ifuptecnologia@gmail.com">Entre em Contato</button>
</ion-content>