<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><img id="trianguloVilaVelha" src="assets/img/logo.png"></ion-title>
    </ion-navbar>

</ion-header>



<ion-content no-bounce padding id="mainContent" class="no-scroll">
    <!-- ion-fixed is used to disable scroll -->
    <!-- http://ionicframework.com/docs/v2/api/components/grid/Grid/ -->
    <ion-grid>
        <ion-row>
            <ion-col col-3>
                <a id="bares-casas-noturnas" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="md-wine" md="md-wine"></ion-icon>
                    <pre class="formatoTexto">Bares e Casas Noturnas</pre>
                </a>
            </ion-col>
            <ion-col col-3>
                <a id="casa" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="md-home" md="md-home"></ion-icon>
                    <pre class="formatoTexto">Casa e Decoração</pre>
                </a>
            </ion-col>
            <ion-col col-3>
                <a id="entretenimento-lazer" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="ios-game-controller-b" md="ios-game-controller-b"></ion-icon>
                    <pre class="formatoTexto">Entretenimento e Lazer</pre>
                </a>
            </ion-col>
            <ion-col col-3>
                <a id="beleza-vestuario" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="md-shirt" md="md-shirt"></ion-icon>
                    <pre class="formatoTexto">Beleza e Vestuário</pre>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <a id="alimentacao" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="md-restaurant" md="md-restaurant"></ion-icon>
                    <pre class="formatoTexto">Alimentação</pre>
                </a>
            </ion-col>
            <ion-col col-3>
                <a id="saude" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="ios-medkit" md="ios-medkit"></ion-icon>
                    <pre class="formatoTexto">Saúde</pre>
                </a>
            </ion-col>
            <ion-col col-3>
                <a id="informatica" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="md-laptop" md="md-laptop"></ion-icon>
                    <pre class="formatoTexto">Informática</pre>
                </a>
            </ion-col>
            <ion-col col-3>
                <a id="automoveis" (click)="pushPage($event)">
                    <ion-icon class="gridIcon" ios="md-car" md="md-car"></ion-icon>
                    <pre class="formatoTexto">Automóveis</pre>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides #slideAds id="slideAds" [initialSlide]=0 autoplay=2000 loop=true effect='fade' *ngIf="haveData">
        <ion-slide *ngFor="let slide of slides">
            <img id="imagePropaganda" [src]="slide">
        </ion-slide>
    </ion-slides>

</ion-content>