page-home {
    a {
        display: contents;
    }
    //shadow .toolbar
    ion-navbar.toolbar {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    //titulo central
    ion-title {
        text-align: center;
    }
    /*LOGO TOPO DO APP*/
    //ios
    .toolbar-title-ios #trianguloVilaVelha {
        max-height: 10vw;
        max-width: 70vw;
    }
    .toolbar-ios ion-title {
        padding: 0;
    }
    //android
    .toolbar-title-md #trianguloVilaVelha {
        max-height: 10vw;
        max-width: 70vw;
    }
    .col {
        text-align: center;
    }
    .gridIcon {
        font-size: 12vw;
    }
    .gridIcon:active {
        color: lightblue;
        transition-property: color;
        transition-delay: 0s;
        transition-duration: 0.2s;
    }
    #mainContent {
        background-color: #2c3496;
    }
    #imagePropaganda {
        border: 1px solid #444444;
        border-radius: 4px;
        opacity: 1;
        padding: 5px;
        transition: 0.3s;
        background-color: #fff;
        /*Tamanho e posicionamento*/
        width: 100%;
        height: auto;
    }
    /* definir cor de cada ícone do grid*/
    /*BEGIN*/
    #bares-casas-noturnas,
    #casa,
    #alimentacao,
    #saude,
    #entretenimento-lazer,
    #beleza-vestuario,
    #informatica,
    #automoveis {
        color: white;
    }
    /*DEFINIR LETRA E CORES
 DA DESCRIÇÃO DO SEGMENTO*/
    .formatoTexto {
        float: left;
        color: lightblue;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 1.5vh;
        line-height: 1.5vh;
        height: 3vh;
        width: 100%;
        overflow: hidden;
        white-space: pre-wrap;
        word-wrap: initial;
    }
    //disabilita o scroll
    .no-scroll .scroll-content {
        overflow: hidden;
    }
    //altura do slide
    ion-slides {
        height: 50vh;
    }
    /*END*/
}