<!--
  Generated template for the Avaliar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <pre class="preDefault">Se você gostou do nosso app, nos avalie na loja!</pre>
    <button ion-button outline *ngIf="ios" (click)="launch('https://itunes.apple.com/br')"><ion-icon name="appstore" item-left></ion-icon>Avalie na App Store</button>
    <button ion-button outline *ngIf="md" (click)="launch('http://play.google.com/')"><ion-icon name="appstore" item-left></ion-icon> Avalie na Play Store</button>
</ion-content>