page-segmento {
    //Desabilitar Soft Back Button no Android
    //.bar-button-md.back-button-md {
    //    display: none;
    //}        
    #segmentoTxt {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        white-space: normal;
        color: black;
        overflow: hidden;
        word-break: inherit;
        font-size: 3vh;
        line-height: 4vh;
        height: 8vh;
        width: 100%;
    }
    #segmentoTxtTelefone {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        white-space: normal;
        overflow: hidden;
        word-break: inherit;
        color: gray;
        font-size: 1.8vh;
        line-height: 2vh;
        height: 2vh;
        width: 100%;
    }
    //Card Content on Android
    .label-md {
        margin: 0 0 0 0;
    }
    .content-md hr {
        background-color: rgba(0, 0, 0, 0.15);
    }
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 15vh;
        height: 15vh;
        border-radius: 0.2em;
        border: 1px solid #ddd;
    }
    .card-md .item-md.item-block .item-inner {
        padding-top: 2vh;
    }
    //Card Content on IOS
    .label-ios {
        margin: 0 0 0 0;
    }
    .content-ios hr {
        background-color: rgba(0, 0, 0, 0.15);
    }
    .item-ios ion-thumbnail ion-img,
    .item-ios ion-thumbnail img {
        width: 15vh;
        height: 15vh;
        border-radius: 0.2em;
        border: 1px solid #ddd;
    }
    .item-ios[detail-push] .item-inner,
    button.item-ios:not([detail-none]) .item-inner,
    a.item-ios:not([detail-none]) .item-inner {
        background-image: none;
        padding-right: 8px;
    }
    .card-ios .item-ios.item-block .item-inner {
        padding-top: 2vh;
    }
}