<!--
  Generated template for the Segmento page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{segmento.nome}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar placeholder="Pesquisar" mode="md" (input)="getItems($event)"></ion-searchbar>
    <!---->
    <ion-card *ngFor="let empresa of empresasSegmento">
        <a ion-item (click)="pushPage(empresa)">
            <ion-thumbnail item-left>
                <img [src]="empresa.logo">
            </ion-thumbnail>
            <h2 id="segmentoTxt">{{empresa.nome}}</h2>
            <hr *ngIf="empresa.telefone">
            <pre *ngIf="empresa.telefone" id="segmentoTxtTelefone">Telefone: {{empresa.telefone}}</pre>
        </a>
    </ion-card>
</ion-content>