<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
        </ion-toolbar>
    </ion-header>

    <ion-content class="sidemenu">
        <ion-list class="sidemenu">
            <button class="sidemenu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
              <ion-icon name="{{p.icon}}" item-left></ion-icon>
              {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>