// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//Navbar background
.toolbar-background {
    background-color: #2c3496;
    color: white;
}

//Tolbar title
.toolbar-title-ios {
    color: white;
    white-space: inherit;
}

//Tolbar title
.toolbar-title-md {
    color: white;
}

//Sidemenu Button tanto ios quanto md
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default,
.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: white;
    background-color: transparent;
}

//android
.sidemenu.item-md [item-left],
.sidemenu.item-md [item-right] {
    margin: 0;
    color: #424242;
}

.sidemenu.item-md ion-icon[item-left]+.item-inner,
.sidemenu.item-md ion-icon[item-left]+.item-input {
    margin-left: 5px;
    color: #2c3496;
    border-bottom: 1px solid lightblue;
}

.sidemenu.content.content-md {
    background-color: white;
}

.sidemenu.item.item-block.item-md {
    background-color: white;
}

//ios
.sidemenu.item-ios [item-left],
.sidemenu.item-ios [item-right] {
    margin: 0;
    color: #424242;
}

.sidemenu.item-ios ion-icon[item-left]+.item-inner,
.sidemenu.item-ios ion-icon[item-left]+.item-input {
    margin-left: 5px;
    color: #2c3496;
    border-bottom: 1px solid lightblue;
    background-image: none;
    padding-right: 0;
}

.sidemenu.content.content-ios {
    background-color: white;
}

.sidemenu.item.item-block.item-ios {
    background-color: white;
    border-bottom: none;
}