page-sobre {
    .scroll-content {
        background-color: #2c3496;
        text-align: center;
    }
    .preDefault {
        overflow: hidden;
        border: none;
        white-space: pre-line;
        word-break: inherit;
        background-color: inherit;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: large;
        color: #dedede;
    }
    img {
        background-color: white;
        border-radius: 0.2em;
    }
    .button-outline-md {
        background-color: rgba(255, 255, 255, 0.8);
        color: #cb2027;
        border-radius: 0.3em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .button-outline-ios {
        background-color: rgba(255, 255, 255, 0.8);
        color: #cb2027;
        border-radius: 0.3em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}