<!--
  Generated template for the Empresa page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{empresa.nome}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <super-tabs #myTabs height="100%" [selectedTabIndex]="0">
        <super-tab [tabRoot]="tabinfo" [navParams]="empresa" title='Informações' icon="ios-information-circle"></super-tab>
        <super-tab [tabRoot]="tabpromo" [navParams]="empresa" title='Cupons e Promoções' icon="logo-usd"></super-tab>
        <!--<super-tab [tabRoot]="tablocalizacao" [rootParams]="empresa" title="Como Chegar" icon="md-map"></super-tab>-->
    </super-tabs>
</ion-content>