page-empresa {
    //Desabilitar Soft Back Button no Android
    //.bar-button-md.back-button-md {
    //    display: none;
    //}
    //tabs header android
    /*.tabs-md .tab-button {
        color: rgba(255, 255, 255, 0.7);
        background-color: #2c3496;
    }
    .tabs-md .tab-button[aria-selected="true"] {
        color: #fff;
        background-color: #2c3496;
    }
    .tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
        color: white;
    }
    .tabs-md .tab-button-text {
        text-transform: uppercase;
    }
    .tabs-md .tab-button-icon {
        color: rgba(255, 255, 255, 0.7);
    }
    //tab header ios
    .tabs-ios .tab-button {
        color: rgba(255, 255, 255, 0.7);
        background-color: #2c3496;
    }
    .tabs-ios .tab-button[aria-selected="true"] {
        color: #fff;
        background-color: #2c3496;
    }
    .tabs-ios .tab-button[aria-selected="true"] .tab-button-icon {
        color: white;
    }
    .tabs-ios .tab-button-text {
        text-transform: uppercase;
    }
    .tabs-ios .tab-button-icon {
        color: rgba(255, 255, 255, 0.7);
    }*/
    //shadow .toolbar
    ion-navbar.toolbar {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .toolbar .segment-md .segment-button.activated,
    .toolbar .segment-md .segment-button.segment-activated {
        color: white;
    }
    super-tabs ion-segment.segment.segment-md ion-segment-button {
        color: white;
    }
    .segment-md .segment-button {
        line-height: 2rem;
    }
    super-tabs .toolbar.toolbar-md {
        position: absolute;
    }
    .button-md-primary {
        background-color: #f5f5f5;
    }
    super-tabs ion-segment.segment.segment-md+.slide {
        height: 3.5px;
    }
}