page-tabpromo {
    //Desabilitar Soft Back Button no Android
    //.bar-button-md.back-button-md {
    //    display: none;
    //}
    .itemFlutuante {
        transition: all 0.1s linear;
    }
    .fa {
        font-size: 3vh;
    }
    .preDefault.titulo {
        display: initial;
        line-height: 3vh;
        height: 3vh;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 2.7vh;
    }
    .preDefault {
        overflow: hidden;
        border: none;
        white-space: pre-line;
        word-break: inherit;
        background-color: inherit;
    }
    h6 {
        display: initial;
    }
    #imageOferta {
        border: 1px solid #dedede;
        width: 100%;
        height: auto;
    }
    #restricaoOferta {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: small;
        color: #888888;
    }
    #ofertaTexto {
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        color: #444444;
    }
    #ofertaValidade {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: small;
        color: #888888;
    }
    #ofertaValorAntigo {
        text-decoration: line-through;
        font-size: medium;
        color: #888888;
    }
    #ofertaValorPromo {
        font-size: large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #0ead69;
    }
    #noPromo {
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
    //android
    .iconPromo.icon.icon-md.item-icon {
        font-size: medium;
    }
    .item-md ion-icon[item-left]+.item-inner,
    .item-md ion-icon[item-left]+.item-input {
        margin-left: 0;
    }
    .label-md {
        margin: 0;
    }
    .item-divider-md {
        color: black;
        background-color: #dedede;
        border-bottom: none;
    }
    .item-md [item-left],
    .item-md [item-right] {
        margin: 5px 8px 5px 0;
    }
    .promo.item.item-block.item-md {
        border-top: 1px solid #dedede;
    }
    .button-outline-md {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        height: inherit;
        width: inherit;
        left: 16px;
        right: 16px;
        position: absolute;
        margin: auto;
    }
    .iconPromo.icon.icon-md.ion-md-alert {
        font-size: x-large;
        margin-right: 7px;
    }
    .list-md {
        padding-top: 11vh;
    }
    .item-md h3,
    .item-md h4,
    .item-md h5,
    .item-md h6 {
        font-size: 2.3vh;
    }
    //ios
    .label-ios {
        margin: 0;
    }
    .item-divider-ios {
        background-color: #dedede;
    }
    .item-ios [item-left] {
        margin: 4px 8px 4px 0;
    }
    .iconPromo.icon.icon-ios.item-icon {
        font-size: medium;
    }
    .promo.item.item-block.item-ios {
        border-top: 1px solid #dedede;
    }
    .button-outline-ios {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        height: inherit;
        width: inherit;
        left: 16px;
        right: 16px;
        position: absolute;
        margin: auto;
    }
    .iconPromo.icon.icon-ios.ion-md-alert {
        font-size: x-large;
        margin-right: 7px;
    }
    .list-ios {
        padding-top: 7vh;
    }
    .item-ios h3,
    .item-ios h4,
    .item-ios h5,
    .item-ios h6 {
        font-size: 2.3vh;
    }
}