<!--
  Generated template for the Tabpromo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <ion-list>
        <!-- Cupons -->
        <ion-item-group *ngIf="empresa.voucher">
            <ion-item-divider class="promoHeader">
                <h6> Cupons</h6>
            </ion-item-divider>
            <ng-container *ngFor="let cupom of empresa.voucher">
                <a (click)="saibaMais(cupom)">
                    <ion-item class="promo">
                        <i class="fa fa-gift" aria-hidden="true" item-left></i>
                        <pre class="preDefault titulo">{{cupom.titulo}}</pre>
                        <ion-icon ios="ios-arrow-down" md="ios-arrow-down" item-right *ngIf="!isVisible(cupom)"></ion-icon>
                        <ion-icon class="iconInfo" ios="ios-arrow-up" md="ios-arrow-up" item-right *ngIf="isVisible(cupom)"></ion-icon>
                    </ion-item>
                </a>
                <ion-item class="itemFlutuante" *ngIf="isVisible(cupom)">
                    <ion-grid>
                        <ion-row responsive-sm>
                            <ion-col>
                                <img id="imageOferta" *ngIf="cupom.imagem" [src]="cupom.imagem">
                                <pre id="restricaoOferta" class="preDefault" *ngIf="cupom.restricao">{{cupom.restricao}}</pre>
                            </ion-col>
                            <ion-col>
                                <pre id="ofertaTexto" class="preDefault" *ngIf="cupom.texto">{{cupom.texto}}</pre>
                                <pre id="ofertaValidade" class="preDefault" *ngIf="cupom.validade">{{cupom.validade}}</pre>
                                <a id="ofertaValorAntigo" *ngIf="cupom.valorAntigo">{{cupom.valorAntigo}}</a>
                                <a ion-button id="ofertaValorPromo" *ngIf="cupom.valorPromo" (click)="launch(cupom.linkPromo)">
                                    <ion-icon class="iconPromo" ios="md-cart" md="md-cart" item-left></ion-icon>
                                    {{cupom.valorPromo}}</a>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ng-container>
        </ion-item-group>

        <!--Promoção-->
        <ion-item-group *ngIf="empresa.promocao">
            <ion-item-divider class="promoHeader">
                <h6> Promoções</h6>
            </ion-item-divider>
            <ng-container *ngFor="let cupom of empresa.promocao">
                <a (click)="saibaMais(cupom)">
                    <ion-item class="promo">
                        <i class="fa fa-usd" aria-hidden="true" item-left></i>
                        <pre class="preDefault titulo">{{cupom.titulo}}</pre>
                        <ion-icon ios="ios-arrow-down" md="ios-arrow-down" item-right *ngIf="!isVisible(cupom)"></ion-icon>
                        <ion-icon class="iconInfo" ios="ios-arrow-up" md="ios-arrow-up" item-right *ngIf="isVisible(cupom)"></ion-icon>
                    </ion-item>
                </a>
                <ion-item class="itemFlutuante" *ngIf="isVisible(cupom)">
                    <ion-grid>
                        <ion-row responsive-sm>
                            <ion-col>
                                <img id="imageOferta" *ngIf="cupom.imagem" [src]="cupom.imagem">
                                <pre id="restricaoOferta" class="preDefault" *ngIf="cupom.restricao">{{cupom.restricao}}</pre>
                            </ion-col>
                            <ion-col>
                                <pre id="ofertaTexto" class="preDefault" *ngIf="cupom.texto">{{cupom.texto}}</pre>
                                <pre id="ofertaValidade" class="preDefault" *ngIf="cupom.validade">{{cupom.validade}}</pre>
                                <a id="ofertaValorAntigo" *ngIf="cupom.valorAntigo">{{cupom.valorAntigo}}</a>
                                <a ion-button id="ofertaValorPromo" *ngIf="cupom.valorPromo">
                                    <ion-icon class="iconPromo" ios="md-cart" md="md-cart" item-left></ion-icon>
                                    {{cupom.valorPromo}}</a>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ng-container>
        </ion-item-group>
    </ion-list>

    <a ion-button outline *ngIf="!empresa.promocao && !empresa.voucher">
        <ion-icon class="iconPromo" ios="md-alert" md="md-alert"></ion-icon>
        <pre id="noPromo" class="preDefault">Não há promoções ativas para o estabelecimento</pre>
    </a>

</ion-content>