<!--
  Generated template for the Tablocalizacao page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <ion-item #gmaps id="gmaps" *ngIf="empresa.maps">
    </ion-item>
</ion-content>