page-tablocalizacao {
    //Desabilitar Soft Back Button no Android
    //.bar-button-md.back-button-md {
    //    display: none;
    //}
    #gmaps {
        width: 100%;
        height: 100%;
    }
    ion-app.ios [padding],
    ion-app.ios [padding] .scroll-content {
        margin-top: 3vh;
    }
}